body{
    line-height: 17px;
    background-color: #e6dddd;
}
.top_bar{
    width: 100%;
    min-width: 1050px;
    height: 50px;
    background-color: #6D214F;
    border-bottom: 0.25em solid #dfe6e9;
    margin: 0 0 10px 0 ;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}
.logo a{
    font-family: fantasy;
    margin-left: 10px; 
    font-size: 200%;
    position: relative;
    top: 9px ;
    text-shadow: #D6A2E8 0.5px 0.5px 0px; 
    color: white;
    
}
a:hover{
    text-decoration: none;
}
nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}
nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    border-bottom: 7px solid #D6A2E8;
    color: white;
}
.wrapper{
    margin: 0 auto;
    top:50px;
    position: relative;
    padding: 0 10px ;
    width: 75%;
    min-width: 950px;
    
}
.column{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    box-shadow: 2px 2px 1px #d3d3;
    z-index: -1;   
}
.user_details{
    width: 270px;
    float: left;
    margin-bottom: 20px;
}
.user_details_left_right{
    width:125px;
    display: inline-block;
    position: absolute;
}
.user_details img{
    height: 125px;
    border-radius: 6px;
    margin: 5px;
    
}
.main_column{
    float: right;
    width: 75%;
    z-index: -1;
    min-width: 160px
}
.post_form{
    width: 100%;
}
.post_form textarea{
    width: 81%;
    height: 60px;
    border-radius:6px;
    margin-right: 5px;
    border: 1px solid #d3d3;
    font-size: 12px;
    padding: 5px;
}
textarea:focus{
    outline: 0;
}
.post_form input[type="submit"]{
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: #e6dddd;
    color: #6D214F;
    font-family: sans-serif;
    text-shadow: #D6A2E8 0.5px 0.5px 0px; 
    font-size: 90%;
    position: absolute;
    outline: none;
    margin: 0;

    
}
.post_form input[type="submit"]:active{
    padding: 5px 4px 4px 5px;
}

.status_post{
        width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic{
    float: left;
    margin: 4px;
  
 
}
.post_profile_pic img{
   
    border-radius: 25px;
}